.nav-top {
  color: #fff;
  width: 100%;
  top: 0;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;;

  .logo-section {
    position: relative;
    padding: 10px;
    z-index: 999;
    img {
      width: 220px;
      padding: 10px;
    }
  }
  .customer-nav-link {
    cursor: pointer;
    font-weight: 500;
    color: #363636;
    margin-left: 1.25rem;
    &:hover {
      color: #405B9D;
    }
  }
}
